{{#partial "content"}}
    <section>
         <div class="hero-stats">
          <h1>{{hero.name}}</h1>
          <div class="hero-charts">
            <div class="defence">Defence <br></div>
            <div class="distance">Speed <br></div>
            <div class="attack ">Attack<br></div>
          </div><br><br>
             <a href="/hero" ><button class="btns back">Go Back</button></a>
        </div>

    </section>
{{/partial}}
{{> layout.hbs}}